/* GLOBAL STYLEs */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600&display=swap');
:root{
    --primary-color: #0B55F4;
    --second-color: #001DC0;
    --secondary-color:#F4AA0B;
    --black: #000000;
    --grey: #646666;
    --bg-color: #F6F8F8;
    --white: #ffffff;
    --nav-text-color:#131515;
    --input-border-color:#8C8E8E;
    --line-color:#ACAEAE;
    --footer-color:#131515;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body{
  margin: 4.5rem 0 0 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px;
}


/* Desktop view first */

/* HEADER SECTION */
.chinedu-header{
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    background:var(--bg-color);
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.14);
}
.chinedu-nav-bar{
  height: 4.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chinedu-nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.chinedu-nav-link{
    transition: all 0.3s ;
    color: var(--nav-text-color);
}
.chinedu-nav-link.active{
    color: var(--primary-color);
}

  
.chinedu-hamburger{
    display: none;
    cursor: pointer;
}
  .bar{
    width: 20px;
    height: 3px;
    display: block;
    background-color: var(--black);
    margin: 3px 0;
    transition: all 0.3s ease;
  }
.chinedu-login-button{
    background: rgba(19, 21, 21, 0.12);
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1.5rem;
    color:  rgba(19, 21, 21, 0.38);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
} 
.chinedu-login-button:hover{
    background: var(--primary-color);
    color: var(--white);  
}


@media (max-width:960px){
    .chinedu-nav-menu{
        gap: 3rem;
    }
}


/*for tablets screen*/
 @media (max-width:766px){

    .chinedu-nav-menu{
      position: fixed;
      left: -100%;
      top: 12px;
      gap: 0;
      flex-direction: column;
      justify-content: flex-start;
      background-color: var(--bg-color);
      text-align: center;
      font-size: 1.8rem;
      font-weight: 500;
      width: 100%;
      height: 100vh;
      transition: 0.3s;
    }
  
  .chinedu-nav-menu.active{
    left: 0;
    }
  .chinedu-nav-item{
    margin: 26px 0;
    text-align: center;
    }

    /* hamburger tweak*/
 .chinedu-hamburger{
    display: block;
    transition: all 0.3s ease-in-out;
    }

 .bar{
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

  .chinedu-hamburger.active .bar:nth-child(2){
      opacity: 0;
    }

  .chinedu-hamburger.active .bar:nth-child(1){
      transform: translateY(6px) rotate(45deg);
    }

  .chinedu-hamburger.active .bar:nth-child(3){
      transform: translateY(-6px) rotate(-45deg);
    }
  
   
  
  }


